header {
  background-color: black;
  color: white;
  text-align: center;
}

header h1 {
  padding: 50px 0;
  text-align: center;
  font-size: 3em;
}

.search-container {
  text-align: center;
  background-color: gray;
  padding: 10px;
}

.filters-container {
  text-align: center;
  padding: 10px;
  background-color: rgb(199, 194, 194);
}